<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="{{ '/' | relative_url }}">About Me</a>
      <a href="{{ '/projects/' | relative_url }}">Research</a>
      <a href="{{ '/photography/' | relative_url }}">Photography</a>
      <a href="{{ '/other/' | relative_url }}">Other</a>
      <a href="{{ '/cv/' | relative_url }}">CV</a>
      <a href="{{ '/contact/' | relative_url }}">Contact</a>
    </nav>
  </div>
</header>
